<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RAG Capstone Agent</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header class="topbar">
    <h1>GEN AI RAG Assitance for Capestone Project</h1>
    <nav>
        <a href="/">Ask Questions</a>
        <a href="/upload-ui">Upload Document</a>
        <a href="/health-ui">API Status</a>
        <a href="/docs" target="_blank">API Docs</a>
    </nav>
</header>
<main class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>
